$text-font-family: ('Object Sans', system-ui, sans-serif);
$title-font-family: ('Agrandir', system-ui, sans-serif);

$fs-xs: 0.6914rem;
$fs-s: 0.7778rem;
$fs-base: 0.875rem;
$fs-m: 0.9844rem;
$fs-l: 1.1074rem;
$fs-xl: 1.2458rem;
$fs-2xl: 1.4016rem;
$fs-3xl: 1.5768rem;
$fs-4xl: 1.7739rem;
$fs-huge: 2.25rem;
$fs-enormous: 3.75rem;
$fs-gigantic: 5rem;