$text-font-family: ('Amulya', system-ui, sans-serif);
$title-font-family: ('Chillax', system-ui, sans-serif);

@font-face {
  font-family: 'Chillax';
  src: url('/fonts/Chillax-Variable.woff2') format('woff2');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Amulya';
  src: url('/fonts/Amulya-Variable.woff2') format('woff2');
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Amulya';
  src: url('/fonts/Amulya-VariableItalic.woff2') format('woff2');
  font-weight: 300 700;
  font-display: swap;
  font-style: italic;
}

