@use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'palette' as *;

@function light($key) {
  $colors: map.get($palette, $key);
  @if $colors == null {
    @error"Undefined theme color `#{$key}`.";
  }
  @return list.nth($colors, 1);
}

@function dark($key) {
  $colors: map.get($palette, $key);
  @if $colors == null {
    @error"Undefined theme color `#{$key}`.";
  }
  @return list.nth($colors, 2);
}

@function values($map) {
  $values: ();

  @each $k, $v in $map {
    $values: list.append($values, $v);
  }

  @return $values;
};
