$card-padding: clamp(0.875rem, .6657rem + 1.045vw, 2rem);
$card-padding-mobile: clamp(.875rem, .8517rem + .1163vw, 1rem);
$gutter: clamp(.875rem, .6657rem + 1.0465vw, 2rem);
$gutter-mobile: clamp(.875rem, .8517rem + .1163vw, 1rem);

$cluster-gap: clamp(.6875rem, .6759rem + .0581vw, .75rem);
$button-padding-inline: clamp(1.3125rem, 1.2776rem + .1744vw, 1.5rem);
$button-padding-block: clamp(.6875rem, .6759rem + .0581vw, .75rem);
$button-padding-inline-xs: clamp(.875rem, .8517rem + .1163vw, 1rem);
$button-padding-block-xs: clamp(.4375rem, .4259rem + .0581vw, .5rem);

$section-spacing: calc($gutter * 4);
$section-spacing-mobile: calc($gutter-mobile * 5);
$header-height: 46px;
$header-height-mobile: 3rem;

$main-width: 87.5vw;
$main-width-mobile: 92vw;

$tablet: 768px;
$laptop: 1200px;

$schemes: (light, dark);

$breakpoints: (
  mobile: 0,
  tablet: $tablet,
  desktop: $laptop
);

$resolutions: (
  1x: '',
  2x: '@2x'
);
