$section-spacing: 4rem;
$section-spacing-mobile: 2rem;
$header-height: 4rem;

$tablet: 768px;
$laptop: 1200px;

$schemes: (light, dark);

$breakpoints: (
  mobile: 0,
  tablet: $tablet,
  desktop: $laptop
);

$resolutions: (
  1x: '',
  2x: '@2x'
);
