@use 'sass:map';
@use '_functions' as *;
@use '_emotions' as *;
@use '_layout' as *;


@mixin set-color-legend($map) {
  @each $emotion, $color in $map {
    .#{$emotion}:before {
      background-color: shadow($color, 0.7);
    }
  }
};

@mixin set-icon-legend($map) {
  @each $dim, $icons in $map {
    @if map.get($icons, 'cutoffs') {
      @each $cut, $icon in map.get($icons, 'cutoffs') {
        .#{$dim}[data-value="#{$cut}"]:before {
          content: "#{$icon}";
        @if map.get($icons, 'filter') {
          filter: #{map.get($icons, 'filter')}(#{1.25 - $cut});
        }
        }
      }
    } @else {
      .#{$dim}:before {
        content: "#{map.get($icons, 'icon')}";
      }
    }
  }
};

@mixin set-background($selector) {
  @each $scheme in $schemes {
    @each $break, $min-width in $breakpoints {
      @each $res, $suffix in $resolutions {
        $file: 'bg-#{$break}-#{$scheme}#{$suffix}.webp';

        // Base query: preferred color scheme
        $queries: '(prefers-color-scheme: #{$scheme})';

        // Append breakpoint if not on mobile
        @if $min-width != 0 {
          $queries: '#{$queries} and (width >= #{$min-width})';
        }

        // Append resolution for retina screens
        @if $res == 2x {
          $queries: '#{$queries} and (resolution >= 2dppx)';
        }

        @media #{$queries} {
          #{$selector} {
            background-image: url('@/assets/images/#{$file}');
          }
        }
      }
    }
  }
};
