@use 'sass:color';

$fuchsia: oklch(0.4668 0.19179 337.977);
$orchid: oklch(0.2976 0.06336 334.341);
$lilac: oklch(0.7935 0.10034 276.98);
$black: oklch(0.2256 0.00468 17.205);
$white: oklch(0.9985 0.00011 360);
$raisin: oklch(0.254 0.01336 353.411);
$brown: oklch(0.2109 0.04514 21.633);
$taupe: oklch(60.668% 0.0184 17.465);
$transparent: oklch(0% 0 0 / 0);
$shadow: oklch(0 0 0 / 0.102);

$primary-color: $orchid color.scale($lilac, $lightness: -15%, $chroma: 10%);
$primary-muted-color: color.scale($orchid, $lightness: 10%, $chroma: 10%) color.scale($lilac, $lightness: -20%, $chroma: 20%);
$link-color: $fuchsia $lilac;
$annotation-color: color.adjust($fuchsia, $hue: 160deg) color.adjust($lilac, $hue: 180deg);
$shadow-color: color.change($brown, $alpha: 0.05), color.change($taupe, $alpha: 0.15);
$background-color: $white $black;

$text-color: $raisin color.change($white, $alpha: 0.87);
$text-muted-color: color.change($raisin, $alpha: 0.5) color.change($white, $alpha: 0.5);
$border-color: oklch(20.992% 0.03416 263.451 / 0.05) oklch(100% 0.00011 271.152 / 0.1);
$modal-color: $white oklch(0.278 0.0047 17.465);

$box-shadow:
  0 4px 6px -1px $shadow,
  0 2px 4px -2px $shadow;

$box-shadow-large:
  0px 10px 38px -10px $shadow,
  0px 10px 20px -15px $shadow;

$box-shadow-large-reverse:
  0px -10px 38px -10px $shadow,
  0px -10px 20px -15px $shadow;

