@use 'main' as *;

:deep(.tooltip) {
  animation-duration: 125ms;
  animation-timing-function: ease-in-out;
  will-change: transform opacity;
  outline-offset: 0;
  overflow: clip;
  z-index: 2;
  box-shadow: $box-shadow;
  font-style: normal;
  font-size: 0.9em;
  padding-block: 0.3rem;
  padding-inline: 0.6rem;
@include theme(color, text);
}
:deep(.tooltip)[data-side='top'] {
  animation-name: fade-in-slide-up;
}
:deep(.tooltip)[data-side='left'] {
  animation-name: fade-in-slide-left;
}
:deep(.tooltip)[data-side='right'] {
  animation-name: fade-in-slide-right;
}
:deep(.arrow) {
  z-index: 3;
  @include theme(fill, modal);
  @include theme(stroke, border);
}
:deep(.tooltip) p {
  margin-block: 0;
}