@use 'sass:list';
@use 'sass:map';
@use '_palette' as *;
@use '_emotions' as *;

$light: (
  emotions: $emotions-light,
  fluency: $fluent-light,
  primary: list.nth($link-color, 1),
  secondary: list.nth($secondary-color, 1),
  background: list.nth($background-color, 1)
);

$dark: (
  emotions: $emotions-dark,
  fluency: $fluent-dark,
  primary: list.nth($link-color, 2),
  secondary: list.nth($secondary-color, 2),
  background: list.nth($background-color, 2)
);


$schemes: (
  light: map.merge($light, $dimensions-light),
  dark: map.merge($dark, $dimensions-dark)
);

:export {
  @each $scheme, $palette in $schemes {
    @each $key, $value in $palette {
      @each $k, $v in $value {
        #{$scheme}_#{$key}_#{$k}: #{$v};
      }
    }
  }
}
