@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use '_functions' as *;
@use '_emotions' as *;

$light: (
  emotions: $emotions-light,
  fluency: $fluency-light
);

$dark: (
  emotions: $emotions-dark,
  fluency: $fluency-dark
);

$schemes: (
  light: map.merge($light, $dimensions-light),
  dark: map.merge($dark, $dimensions-dark)
);

$patterns: (
  emotions: (neutral: lines),
  valence: (low: herringbone),
  arousal: (low: wedges),
  dominance: (low: chain),
  fluency: (fluent: waves)
);

:export {
  @each $scheme, $palette in $schemes {
    @each $key, $value in $palette {
      @each $k, $v in $value {
        #{$scheme}_#{$key}_#{$k}_color: #{$v};
        #{$scheme}_#{$key}_#{$k}_pattern: map.get($patterns, $key, $k);
      }
    }
  }
}