@use 'main' as *;
@use '_animations';
@use '_fonts';

*, *:before, *:after {
  box-sizing: border-box;
  @media screen and (hover: none) {
    @include theme(-webkit-tap-highlight-color, selection);
  }
}

::selection {
  @include theme(background-color, selection);
}

:focus-visible {
  outline-offset: 2px;
  outline-width: 2px;
  outline-style: solid;
  @include theme(outline-color, link);
}

[v-cloak] {
  visibility: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-family: $text-font-family;
  font-variation-settings: 'wght' 300;
  line-height: 1.5;
  font-synthesis: none;
  font-feature-settings: 'kern', 'liga';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
  @include theme(color, text);
}

body, #app, main, article {
  display: flex;
  flex: 1;
  flex-direction: column;
}

body, #app {
  min-height: 100lvh;
}

body {
  @include theme(background-color, background);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  z-index: 10;
}

.wrapper {
  width: $main-width;
  max-width: clamp(20rem, 100vw, 105rem);
  margin: 0 auto;
  container: wrapper / inline-size;
}

.full-page {
  height: 100lvh;

  > section {
    height: 100%;
    width: 100%;
  }
}

.paginated {
  margin-block-start: $section-spacing;
  scroll-margin-block-start: $section-spacing;
}

h1, h2, h3, h4 {
  font-family: $title-font-family;
  font-variation-settings: 'wght' 600, 'wdth' 130 ;
}

h2 {
  font-size: $fs-xl;
}

hgroup h2 {
  margin-block-end: 0;
}

hgroup p {
  font-family: $title-font-family;
  font-size: 1.2rem;
  font-style: italic; // fallback
  margin-top: 0;
  @include title-italic()
}

a {
  font-variation-settings: 'wght' 500;
  text-decoration: inherit;
  padding-inline: 0.2rem;
  padding-block: 0.2rem;
  margin-inline: -0.2rem;
  margin-block: -0.2rem;
  border-radius: $large-radius;
  transition:
    color 150ms ease,
    background-color 150ms ease;
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
  @include theme(color, link);

  svg {
    height: 1.6rem;
    width: 1.6rem;
    fill: currentColor;
  }
}

.button {
  appearance: none;
  user-select: none;
  color: $white;
  font-family: $text-font-family;
  font-size: .875em;
  font-variation-settings: 'wght' 600;
  line-height: 1.5;
  text-align: center;
  text-wrap-mode: nowrap;
  overflow: clip;
  text-overflow: ellipsis;
  border-radius: $max-radius;
  padding-inline: $button-padding-inline;
  padding-block: $button-padding-block;
  margin-inline: 0;
  margin-block: 0;
  border: 0 solid;
  cursor: pointer;
  will-change: background-color;
  transition: background-color 150ms ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @include theme(background-color, primary);

  &:hover,
  &:focus {
    @include theme(background-color, primary-hover);
  }

  > span {
    display: block;
    position: relative;
  }

  svg {
    transition: all 150ms ease;
  }
}

.p-cluster {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: $cluster-gap;
  margin-block-end: $cluster-gap;

  &:has(.audio) { min-height: 60px; }
}

fieldset {
  appearance: none;
  border: none;
  padding: 0;
  display: flex;
  gap: $cluster-gap;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;

  > :first-child {
    justify-self: start;
  }

  > :nth-child(2) {
    justify-self: center;
  }

  > :last-child {
    justify-self: end;
  }

  &.cards {
    gap: $gutter;

    .p-card {
      container: card / size;
      width: 100%;
      height: 100%;

      &.no-contain {
        container: card / inline-size;
      }
    }
  }
}

.grid.cards + .grid.cards,
.p-card + .grid.cards {
  margin-block-start: $gutter;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.card {
  border-radius: $large-radius;
  box-shadow: $box-shadow;
  padding: 1rem;
  @include theme(background-color, modal-alt);
}

.p-card {
  border-radius: $xlarge-radius;
  padding: $card-padding;
  @include theme(background-color, modal);

  h4 {
    font-size: $fs-s;
  }
}

.card,
.p-card {
  > :first-child {
    margin-block-start: 0;
  }
  > :last-child {
    margin-block-end: 0;
  }
}

.invert {
  @include theme(background-color, background, true);
  @include theme(color, text, true);
  a {
    @include theme(color, link-visited);
  }
}

.fade {
  @include theme(background-color, modal-fade);
}

.icon-outline {
  display: block;
}

.icon-solid {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .icon-outline {
    display: none;
  }
  .icon-solid {
    display: block;
  }
}

@media (hover: hover) {
  html {
    overscroll-behavior: none;
  }
  a:hover, a:focus-visible, a[data-state='open'] {
    @include theme(background-color, shadow);
  }
}

@media screen and (width < $laptop) {
  .paginated {
    margin-block-start: $section-spacing-mobile;
    scroll-margin-block-start: $section-spacing-mobile;
  }
  header {
    height: $header-height-mobile;
  }
}

@media screen and (width < $tablet) {
  .wrapper {
    width: $main-width-mobile;
  }
  .grid {
    grid-template-columns: 100%;

    > :first-child,
    > :nth-child(2),
    > :last-child {
      justify-self: start;
    }

    &.cards {
      gap: $gutter-mobile;
    }
  }

  .grid.cards + .grid.cards,
  .p-card + .grid.cards {
    margin-block-start: $gutter-mobile;
  }

  .p-card {
    padding: $card-padding-mobile;
  }

  .p-cluster {
    > .audio { width: 100% }
    > fieldset { flex: 1; }

    &:has(.audio) {
      min-height: calc(60px + $fs-base * 1.5 + $button-padding-block * 2 + $cluster-gap);
    }
  }
}