@use 'sass:color';
@use 'sass:list';

@function resp($colors) {
  @return light-dark(list.nth($colors, 1), list.nth($colors, 2));
}

@function shadow($color, $opacity) {
  @return color.change($color, $alpha: $opacity)
}

$text-font-family: ('Amulya', system-ui, sans-serif);
$title-font-family: ('Chillax', system-ui, sans-serif);

$fuchsia: oklch(0.4668 0.19179 337.977);
$dark-fuchsia: oklch(0.2976 0.06336 334.341);
$lilac: oklch(0.7935 0.10034 276.98);
$black: oklch(0.2256 0.00468 17.205);
$white: oklch(0.9985 0.00011 360);
$raisin: oklch(0.254 0.01336 353.411);
$brown: oklch(0.2109 0.04514 21.633);
$taupe: oklch(60.668% 0.0184 17.465);

$primary-color: $dark-fuchsia $lilac;
$primary-muted-color: color.scale($dark-fuchsia, $lightness: 20%) color.scale($lilac, $lightness: -10%);
$link-color: $fuchsia $lilac;
$shadow-color: shadow($brown, 0.15), shadow($taupe, 0.15);
$background-color: $white $black;
$border-color: transparent $taupe;
$text-color: $raisin shadow($white, 0.87);

$emotions: (
  anger: oklch(62.793% 0.25768 29.223),
  contempt: oklch(47.071% 0.11242 51.104),
  disgust: oklch(51.976% 0.17685 142.511),
  fear: oklch(42.09% 0.19352 328.352),
  happiness: oklch(96.798% 0.21094 109.783),
  neutral: oklch(59.987% 0.00007 271.152),
  sadness: oklch(45.203% 0.3133 264.073),
  surprise: oklch(79.444% 0.17083 71.184),
  other: oklch(86.623% 0.0752 5.193)
);

@mixin emotion-classes-legend($map) {
  @each $emotion, $color in $map {
    .#{$emotion}:before {
      background-color: shadow($color, 0.7);
    }
  }
};
