// Source: URL-encoded Inline SVG using SCSS mixin by Kevin Weber
// https://codepen.io/kevinweber/pen/dXWoRw

@use 'patterns';
@use 'functions' as *;


@function svg-pattern($pattern-id, $pattern) {
  @return "<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs>#{$pattern}</defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(##{$pattern-id})'/></svg>";
}

$schemes: (
  light: patterns.make(false),
  dark: patterns.make(true)
);

:export {
  @each $scheme, $patterns in $schemes {
    @each $id, $pattern in $patterns {
      #{$scheme}_#{$id}_svg: #{$pattern};
      #{$scheme}_#{$id}_url: url(svg-encode(svg-pattern($id, $pattern)));
    }
  }
}
